<link rel="stylesheet" type="text/css" href="../public/css/search.css">

<div id="filters">
    <form method="get">
        <span id="filtertxt">Filters</span>
        <input type="radio" id="hirate" name="filter" value="highestrating">
        <label for="hirate">Best Ratings</label>
        <input type="radio" id="lorate" name="filter" value="lowestrating">
        <label for="lorate">Worst Ratings</label>
        <input type="radio" id="mostrev" name="filter" value="mostreviews">
        <label for="mostrev">Most Reviews</label>
        <input type="radio" id="leastrev" name="filter" value="leastreviews">
        <label for="leastrev">Least Reviews</label>
    </form>
</div>