<link rel="stylesheet" type="text/css" href="../public/css/search.css">

<div id="searchbar">
    <img id="logo" src="./images/logowhite.png">
    <form method="get">
        <input type="text" id="search" name="search" placeholder="Stores, Restaurants, Other Services">
        <button type="submit" id="searchbutton">Search</button>
    </form>
</div>