<link rel="stylesheet" href="/css/register.css">
    {{> navbar }}

<div class="register-box">
    <h1>Change</h1>
    <form id="registerform" method="post">
        <label for="profilepicture">Upload your Avatar:</label>
        <input type="text" id="profilepicture" name="profilepicture" placeholder="Upload your Profile Picture">
        <div class="button-group">
            <button type="submit">Create Account</button>
            <button id="backBtn">Back</button>
        </div>
    </form>
</div>

<script src="/js/register.js"></script>