{{> navbar}}


<link rel="stylesheet" href="/css/profile.css">

<div class="profile-container">
    <img class="profile-picture" src={{url}} alt="Profile Picture">

    <div class="username">Username: {{username}}</div>
    <div class="fullname">Full Name: {{fullname}}</div>
    <div class="fullname">Bio: {{bio}}</div>
    <button id="pfpchange">Change profile pic</button>
</div>

<script src="/js/profile.js"></script>