<link rel="stylesheet" type="text/css" href="/css/search.css">

<body>
    {{> searchbar}}
    {{> filter}}
    <button id="btn"></button>
    <div id="results">
            <div id="post1" class="post">
                <span class="title">Greenwich Pizza</span>
                <span class="rating">3.8/5</span>
                <br>
                <p class="desc">Greenwich Pizza is a popular pizza chain in the Philippines, known for its delicious and affordable pizzas. Established in 1971...</p>
            </div>
            <div id="post2" class="post">
                <span class="title">SM Supermalls</span>
                <span class="rating">4.4/5</span>
                <br>
                <p class="desc">SM Supermalls is the largest mall chain in the Philippines, owned and operated by SM Prime Holdings, a subsidiary of SM Investments Corporation. With over 70 malls spread...</p>
            </div>
            <div id="post3" class="post">
                <span class="title">PLDT Inc.</span>
                <span class="rating">2.2/5</span>
                <br>
                <p class="desc">PLDT Inc., or the Philippine Long Distance Telephone Company, is the largest and leading telecommunications and digital services provider in the Philippines. Established in 1928, PLDT has evolved from a traditional landline telephone service provider to a comprehensive telecommunications conglomerate offering a wide range of services...</p>
            </div>
            <div id="post4" class="post">
                <span class="title">Jollibee</span>
                <span class="rating">4.7/5</span>
                <br>
                <p class="desc">Jollibee is the largest fast-food chain in the Philippines, known for its Filipino-style fast food, including its popular fried chicken, burgers, and spaghetti. Established in 1978, Jollibee has become a global brand, expanding internationally with a diverse menu that caters to...</p>
            </div>
            <div id="post5" class="post">
                <span class="title">World Balance</span>
                <span class="rating">3.7/5</span>
                <br>
                <p class="desc">World Balance is a leading Filipino footwear and athletic apparel brand known for its stylish and functional products. Established in 1980, the brand has gained popularity for its high-quality shoes, sneakers, sandals, and activewear designed for various sports and casual activities. World Balance is committed to providing comfortable and affordable...</p>
            </div>
        </div>
</body>

<script src="/js/search.js"></script> 